# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Intensionally ignored
.buildpath
.idea/
.project
.settings/
SecureWeb.iml
index.php
phpinfo.php

/web/node_modules/pinkie/
/web/node_modules/socket.io-client/
/web/node_modules/isstream/
/web/node_modules/rx/
/web/node_modules/balanced-match/
/web/node_modules/binary-extensions/
/web/node_modules/rxjs/
/web/node_modules/klaw/
/web/node_modules/regex-cache/
/web/node_modules/oauth-sign/
/web/node_modules/for-in/
/web/node_modules/lcid/
/web/node_modules/commander/
/web/node_modules/aws-sign2/
/web/node_modules/bluebird/
/web/node_modules/backo2/
/web/node_modules/is-primitive/
/web/node_modules/normalize-package-data/
/web/node_modules/preserve/
/web/node_modules/is-buffer/
/web/node_modules/browser-sync-ui/
/web/node_modules/component-bind/
/web/node_modules/resp-modifier/
/web/node_modules/encodeurl/
/web/node_modules/dev-ip/
/web/node_modules/spawn-default-shell/
/web/node_modules/isarray/
/web/node_modules/once/
/web/node_modules/serve-index/
/web/node_modules/requires-port/
/web/node_modules/rimraf/
/web/node_modules/arraybuffer.slice/
/web/node_modules/yargs-parser/
/web/node_modules/jsonpointer/
/web/node_modules/openurl/
/web/node_modules/is-binary-path/
/web/node_modules/is-extendable/
/web/node_modules/jsonfile/
/web/node_modules/require-directory/
/web/node_modules/glob-parent/
/web/node_modules/object-assign/
/web/node_modules/find-up/
/web/node_modules/builtin-modules/
/web/node_modules/has-binary/
/web/node_modules/mime-db/
/web/node_modules/socket.io-adapter/
/web/node_modules/parse-json/
/web/node_modules/chokidar/
/web/node_modules/fill-range/
/web/node_modules/read-pkg-up/
/web/node_modules/forever-agent/
/web/node_modules/number-is-nan/
/web/node_modules/on-finished/
/web/node_modules/randomatic/
/web/node_modules/base64-arraybuffer/
/web/node_modules/hoek/
/web/node_modules/fs-extra/
/web/node_modules/wtf-8/
/web/node_modules/set-blocking/
/web/node_modules/when/
/web/node_modules/fs.realpath/
/web/node_modules/emitter-steward/
/web/node_modules/qs/
/web/node_modules/better-assert/
/web/node_modules/parseuri/
/web/node_modules/braces/
/web/node_modules/destroy/
/web/node_modules/caseless/
/web/node_modules/express/
/web/node_modules/connect-history-api-fallback/
/web/node_modules/has-ansi/
/web/node_modules/@types/
/web/node_modules/for-own/
/web/node_modules/expand-brackets/
/web/node_modules/boom/
/web/node_modules/generate-function/
/web/node_modules/browser-sync-client/
/web/node_modules/bl/
/web/node_modules/string-width/
/web/node_modules/is-utf8/
/web/node_modules/limiter/
/web/node_modules/ultron/
/web/node_modules/utils-merge/
/web/node_modules/tunnel-agent/
/web/node_modules/filename-regex/
/web/node_modules/concat-map/
/web/node_modules/read-pkg/
/web/node_modules/har-validator/
/web/node_modules/invert-kv/
/web/node_modules/formidable/
/web/node_modules/y18n/
/web/node_modules/xmlhttprequest-ssl/
/web/node_modules/anymatch/
/web/node_modules/send/
/web/node_modules/util-deprecate/
/web/node_modules/stringstream/
/web/node_modules/localtunnel/
/web/node_modules/range-parser/
/web/node_modules/connect-logger/
/web/node_modules/is-property/
/web/node_modules/object.omit/
/web/node_modules/async-each-series/
/web/node_modules/engine.io-client/
/web/node_modules/lodash/
/web/node_modules/ee-first/
/web/node_modules/normalize-path/
/web/node_modules/ua-parser-js/
/web/node_modules/negotiator/
/web/node_modules/statuses/
/web/node_modules/glob-base/
/web/node_modules/to-array/
/web/node_modules/callsite/
/web/node_modules/parseurl/
/web/node_modules/is-glob/
/web/node_modules/brace-expansion/
/web/node_modules/depd/
/web/node_modules/cliui/
/web/node_modules/strip-bom/
/web/node_modules/decamelize/
/web/node_modules/validate-npm-package-license/
/web/node_modules/easy-extender/
/web/node_modules/readable-stream/
/web/node_modules/set-immediate-shim/
/web/node_modules/strip-ansi/
/web/node_modules/arr-flatten/
/web/node_modules/escape-string-regexp/
/web/node_modules/systemjs/
/web/node_modules/delayed-stream/
/web/node_modules/yargs/
/web/node_modules/options/
/web/node_modules/socket.io/
/web/node_modules/ws/
/web/node_modules/expand-range/
/web/node_modules/browser-sync/
/web/node_modules/connect/
/web/node_modules/is-number/
/web/node_modules/has-cors/
/web/node_modules/extglob/
/web/node_modules/typescript/
/web/node_modules/concurrently/
/web/node_modules/immutable/
/web/node_modules/core-js/
/web/node_modules/arr-diff/
/web/node_modules/blob/
/web/node_modules/camelcase/
/web/node_modules/json-stringify-safe/
/web/node_modules/angular-in-memory-web-api/
/web/node_modules/is-arrayish/
/web/node_modules/portscanner/
/web/node_modules/chalk/
/web/node_modules/readdirp/
/web/node_modules/eventemitter3/
/web/node_modules/generate-object-property/
/web/node_modules/tree-kill/
/web/node_modules/inherits/
/web/node_modules/object-path/
/web/node_modules/engine.io/
/web/node_modules/extend/
/web/node_modules/kind-of/
/web/node_modules/hawk/
/web/node_modules/http-signature/
/web/node_modules/benchmark/
/web/node_modules/indexof/
/web/node_modules/micromatch/
/web/node_modules/request/
/web/node_modules/stream-throttle/
/web/node_modules/bootstrap/
/web/node_modules/socket.io-parser/
/web/node_modules/mime/
/web/node_modules/ansi-regex/
/web/node_modules/graceful-fs/
/web/node_modules/is-extglob/
/web/node_modules/unpipe/
/web/node_modules/bs-recipes/
/web/node_modules/debug/
/web/node_modules/error-ex/
/web/node_modules/path-is-absolute/
/web/node_modules/base64id/
/web/node_modules/array-unique/
/web/node_modules/load-json-file/
/web/node_modules/server-destroy/
/web/node_modules/hosted-git-info/
/web/node_modules/repeat-string/
/web/node_modules/eazy-logger/
/web/node_modules/get-caller-file/
/web/node_modules/wrap-ansi/
/web/node_modules/arrify/
/web/node_modules/core-util-is/
/web/node_modules/setprototypeof/
/web/node_modules/pinkie-promise/
/web/node_modules/symbol-observable/
/web/node_modules/underscore/
/web/node_modules/is-posix-bracket/
/web/node_modules/minimatch/
/web/node_modules/accepts/
/web/node_modules/moment/
/web/node_modules/ms/
/web/node_modules/window-size/
/web/node_modules/form-data/
/web/node_modules/combined-stream/
/web/node_modules/semver/
/web/node_modules/.bin/
/web/node_modules/repeat-element/
/web/node_modules/is-fullwidth-code-point/
/web/node_modules/json3/
/web/node_modules/which-module/
/web/node_modules/component-emitter/
/web/node_modules/spdx-expression-parse/
/web/node_modules/async/
/web/node_modules/engine.io-parser/
/web/node_modules/mime-types/
/web/node_modules/ctype/
/web/node_modules/tfunk/
/web/node_modules/escape-html/
/web/node_modules/http-errors/
/web/node_modules/cryptiles/
/web/node_modules/tough-cookie/
/web/node_modules/wrappy/
/web/node_modules/nopt/
/web/node_modules/zone.js/
/web/node_modules/weinre/
/web/node_modules/finalhandler/
/web/node_modules/abbrev/
/web/node_modules/graceful-readlink/
/web/node_modules/is-equal-shallow/
/web/node_modules/is-builtin-module/
/web/node_modules/lite-server/
/web/node_modules/component-inherit/
/web/node_modules/asn1/
/web/node_modules/mkdirp/
/web/node_modules/spdx-license-ids/
/web/node_modules/parseqs/
/web/node_modules/code-point-at/
/web/node_modules/glob/
/web/node_modules/opn/
/web/node_modules/require-main-filename/
/web/node_modules/batch/
/web/node_modules/@angular/
/web/node_modules/node-uuid/
/web/node_modules/is-my-json-valid/
/web/node_modules/os-locale/
/web/node_modules/pify/
/web/node_modules/xtend/
/web/node_modules/reflect-metadata/
/web/node_modules/async-each/
/web/node_modules/object-component/
/web/node_modules/process-nextick-args/
/web/node_modules/fresh/
/web/node_modules/parsejson/
/web/node_modules/path-exists/
/web/node_modules/string_decoder/
/web/node_modules/sntp/
/web/node_modules/etag/
/web/node_modules/path-type/
/web/node_modules/assert-plus/
/web/node_modules/yeast/
/web/node_modules/isobject/
/web/node_modules/minimist/
/web/node_modules/ansi-styles/
/web/node_modules/supports-color/
/web/node_modules/parse-glob/
/web/node_modules/inflight/
/web/node_modules/buffer-shims/
/web/node_modules/is-dotfile/
/web/node_modules/after/
/web/node_modules/http-proxy/
/web/node_modules/spdx-correct/
/web/node_modules/serve-static/
